<div class="container">
  <div class="row" style="margin-top: 200px;">
    <p>All Employees ({{employees.length}})</p>
    <div class="col" *ngIf="employees.length > 0">
      <div class="card shadow-sm p-2">
        <ul class="list-group">
          <li *ngFor="let emp of employees" class="list-group-item">ID: {{emp.id }} | Name: {{ emp.name }}
            <button class="btn btn-info" (click)="updateEmployee(emp)">Update</button>
            <button class="btn btn-danger ms-2" (click)="deleteEmployee(emp)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <form #employeeRegistration="ngForm" (ngSubmit)="AddEmployee(employeeRegistration.value) ">
        <div class="row g-2 p-2">
          <div class="col-md">

            <input hidden #empId="ngModel" name="id" [(ngModel)]="employee.id" type="text"
              class="form-control shadow-sm" id="emp-id" placeholder="employee id">


            <input #empName="ngModel" name="name" [(ngModel)]="employee.name" type="text" class="form-control shadow-sm"
              id="emp-name" placeholder="employee name">


          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success me-2">{{ isUpdateEmployee ? "Update" : "Save"}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>



</div>